$skeleton-color: hsl(0,0%,89%);

$color-primary-contrast: white;

$color-primary-A: #203d54;
$color-primary-B: #1a4971;
$color-primary-C: #2368a2;
$color-primary-D: #19c3df; 
$color-primary-E: #63a2d8;
$color-primary-F: #aad4f5;
$color-primary-G: #eff8ff;

$color-neutral-A: #212934;
//$color-neutral-B: #5f6b7a;
$color-neutral-B: #525252;
$color-neutral-C: #8895a7;
$color-neutral-D: #b8c4ce;
$color-neutral-E: #cfd6de;
$color-neutral-F: #e1e7ec;
$color-neutral-G: #f8f9fa;

$color-accent-blue-A: #f5fbfe;
$color-accent-blue-B: #b9e3f8;
$color-accent-blue-C: #74c7f1;
$color-accent-blue-D: #2eacea;
$color-accent-blue-E: #1282ba;
$color-accent-blue-F: #1282ba;
$color-accent-blue-G: #04212f;

$color-accent-green-A: #145239;
$color-accent-green-B: #197741;
$color-accent-green-C: #259d58;
$color-accent-green-D: #38c172;
$color-accent-green-E: #74d99f;
$color-accent-green-F: #a8eec1;
$color-accent-green-G: #e3fcec;

$color-accent-yellow-A: #5c4813;
$color-accent-yellow-B: #891b1b;
$color-accent-yellow-C: #b82020;
$color-accent-yellow-D: #dc3030;
$color-accent-yellow-E: #e46464;
$color-accent-yellow-F: #f5aaaa;
$color-accent-yellow-G: #fce8e8;

$color-accent-red-A: #611818;
$color-accent-red-B: #891b1b;
$color-accent-red-C: #b82020;
$color-accent-red-D: #dc3030;
$color-accent-red-E: #e46464;
$color-accent-red-F: #f5aaaa;
$color-accent-red-G: #fce8e8;

//SIZE
$full-size: 1032px;
$small-size: 700px;